@import "tailwindcss";

*{
    font-family: "Roboto", sans-serif;
}

.scrollbar-custom::-webkit-scrollbar-track{
    background-color: none;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* width of scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb{
    background-color: rgb(76, 74, 74);
    border-radius: 20px;
}